.container {
    margin-top: 100px;
  }
  
  .card-title {
    margin-bottom: 20px;
  }
  
  .card-body {
    padding: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .btn-primary {
    width: 100%;
  }
  