.card{
    margin: 0.5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.profile-picture{
    height: 240px;
    width: 240px;
    border-radius: 50%;
    margin: 1rem;

}

@media screen and (max-width: 1399px) {
    .profile-picture{
      height: 128px;
      width: 128px;
      border-radius: 50%;
      margin: 1rem;
  
  }
  }
  
  
  @media screen and (max-width: 1050px) {
    .profile-picture{
      height: 92px;
      width: 92px;
      border-radius: 50%;
      margin: 1rem;
  
  }
  }
  
  @media screen and (max-width: 767px) {
    .profile-picture{
      height: 240px;
      width: 240px;
      border-radius: 50%;
      margin: 1rem;
  
  }
  }