.card-inner {
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.5s;
    
  }
  
  .card-front,
  .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .card-front {
    background-color: #f2f2f2;
    transform: rotateY(0deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .card-back {
    background-color: lightgray;
    color: #fff;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .card-title {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
  }
  
  .card-text {
    margin: 0;
    font-size: 14px;
    color: #555;
  }
  
  .card:hover .card-inner {
    transform: rotateY(180deg);
  }
  