<app-navbar></app-navbar>
    <div class='smudy__whatIsSmudy_1 section__margin hidden' id="wredpandas">
        <div class='smudy__whatIsSmudy-feature'>
            <div class="smudy__whatIsSmudy-container__feature">
                <div class="smudy__whatIsSmudy-container__feature-title">
                    <div></div>
                    <h1>Was ist Smudy?</h1>
                </div>
                <div class="smudy__whatIsSmudy-container__feature-text">
                    <p>Smudy ist ein von Studenten programmiertes online Karteikartenportal. Um Karteikarten zu digitaliesieren, mit Freunden an ihnen zu Arbeiten und um sie zu teilen.</p>
                </div>
            </div>
            <div>

            </div>
        </div>
        <div class='smudy__whatIsSmudy-heading'>
            <h1 class='gradient__text'>Was bietet dir Smudy als User? Hier ein paar unsere vielen Features</h1>
        </div>
        <div class='smudy__whatIsSmudy-container'>
            <div class="smudy__whatIsSmudy-container__feature">
                <div class="smudy__whatIsSmudy-container__feature-title">
                    <div></div>
                    <h1>Entdecke eine neue Art des Lernens mit Smudy</h1>
                </div>
                <div class="smudy__whatIsSmudy-container__feature-text">
                    <p>Erlebe die Vorteile der Zusammenarbeit und tausche dich mit anderen Lernenden aus. Arbeite gemeinsam an Karteikarten, teile deine besten Inhalte und profitiere von den Erfahrungen anderer, um deine Lernergebnisse zu optimieren.</p>
                </div>
            </div>
    
            <div class="smudy__whatIsSmudy-container__feature">
                <div class="smudy__whatIsSmudy-container__feature-title">
                    <div></div>
                    <h1>Vielfältige Features für ein optimales Lernerlebnis</h1>
                </div>
                <div class="smudy__whatIsSmudy-container__feature-text">
                    <p>Smudy bietet dir zahlreiche Tools und Funktionen, um das Beste aus deinem Lernprozess herauszuholen. Nutze unsere intelligenten Testoptionen, um dein Wissen zu überprüfen, Statistiken zu verfolgen und deine Fortschritte zu analysieren.</p>
                </div>
            </div>
    
            <div class="smudy__whatIsSmudy-container__feature">
                <div class="smudy__whatIsSmudy-container__feature-title">
                    <div></div>
                    <h1>Gemeinsam stark - Kollaboratives Lernen mit Smudy</h1>
                </div>
                <div class="smudy__whatIsSmudy-container__feature-text">
                    <p>Erlebe die Vorteile der Zusammenarbeit und tausche dich mit anderen Lernenden aus. Arbeite gemeinsam an Karteikarten, teile deine besten Inhalte und profitiere von den Erfahrungen anderer, um deine Lernergebnisse zu optimieren.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="smudy__whatIsSmudy_2">
    </div>